*,
*::after,
*::before {
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f8f8f8;
}

h1 {
  font-size: 3.6vw;
  color: rgb(16, 16, 16);
  font-weight: 800;
}

h2 {
  font-size: 2.5vw;
  color: rgb(0, 0, 0);
  font-weight: 800;
}

h3 {
  font-size: 20px;
  font-weight: bold;
}

p {
  font-size: 20px;
  z-index: 3;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

#front-page {
  position: relative;
  width: 100%;
  height: calc(100vh - 112px);
  display: flex;
  flex-wrap: wrap;
}


.active {
  font-weight: bold;
  color: orange !important;
}

.button-style {
  background-color: hsl(208, 94%, 57%);
  padding: 10px 20px;
  font-weight: 600;
  font-size: 0.9em;
  border-radius: 5px;
  box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.5);
  border: 2px solid rgb(0, 0, 0, 0.6);
  transition: all 0.3s;
  z-index: 4;
}

.button-style:hover {
  background-color: hsl(208, 94%, 70%);
  color: white;
}


.my-carousel {
  min-width: 420px;
  width: 70%;
  min-height: 300px;
  position: relative;
  height: 40vh;
  overflow: hidden;
  border: 3px solid transparent; /* Transparent border for gradient effect */
  border-image: linear-gradient(45deg, rgb(179, 179, 179), #444444) 1; /* Gradient border */
}

.my-carousel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.my-slide {
  width: 100%;
  opacity: 0;
  transition: opacity 2s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
}

.my-slide.my-active {
  opacity: 1;
}

.container-fluid{
  height: 100%;
}

.container-fluid ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 20px;
  width: 80%;
  padding: 20px;
}

.container-fluid ul li {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

ul ion-icon {
  font-size: 1.5rem;
  color: hsl(0, 0%, 23%);
  margin: 0 5px;
  border-radius: 50%;
}

.hidden {
  display: none;
}

#why-us {
  width: 100%;
  /* background-color: #08f500; */
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.why-us-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 60vw;
  margin: 40px auto;
  min-width: 380px;
  height: 70%;
  border-radius: 25px;
  border: 2px double rgb(0, 0, 0);
  box-shadow: 10px 0 20px 0 rgba(0, 0, 0, 0.4);
  background-image: url(/assets/pool3.jpg);
  background-size: cover;
  background-position: center;
  color: rgb(255, 255, 255);
}

.why-us-container img {
  width: 18%;
  z-index: 20;
}

#why-us h2 {
  font-size: 4vw;
  z-index: 2;
  font-weight: 600;
  color: white;
}

#why-us p {
  width: 70%;
  font-size: 1.3rem;
}

#why-us a {
  z-index: 4;
}

.why-us-container::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

#services {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#services h2 {
  font-size: 2em;
  font-weight: 600;
  color: #000000;
}

.services-container {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  width: 80%;
  height: fit-content;
  margin: 0 auto 20px;
  justify-content: space-evenly;
}

.service-section {
  border-radius: 3px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  border: 2px solid rgb(0, 0, 0, 0.3);
  border-image: fill;
  width: 23%;
  height: fit-content;
  min-width: 300px;
}

.service-section hr {
  width: 100%;
  border: 1px solid black;
}

.service-section img {
  width: 200px;
  height: 200px;
  object-fit: contain;
  object-position: center;
  display: flex;
  margin: 0 auto;
}

.dropdown-item:hover {
  background-color: #c8c8c8;
}

.contact-today {
  border: 1px solid black;
  border-radius: 5px;
  font-weight: 600;
  background-color: hsl(120, 64%, 56%);
}

.contact-today:hover {
  background-color: hsl(120, 64%, 70%);
}

.service-section h3 {
  color: black;
  font-size: 1.4em;
  font-weight: 700;
  padding: 10px 25px;
}

.service-section p {
  padding: 12px 20px;
  font-size: 18px;
}

.service-section ul {
  padding: 0px;
  font-size: 16px;
}

.service-section li {
  list-style: inside;
  padding: 0px 20px;
}

#gallery-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.gallery h2 {
  font-size: 2em;
  font-weight: 600;
  color: #000000;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.gallery img {
  width: 28%;
  height: 320px;
  object-fit: cover;
  object-position: center;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Adjust the number of columns as needed */
  grid-gap: 0; /* Adjust gap between images */
  column-gap: 0;
}

.f-container h3 {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  font-size: 24px;
  margin-top: 40px;
}

.f-container h3::before,
.f-container h3::after {
  content: " ";
  display: flex;
  height: 2px;
  background-color: black;
  width: 30%;
  margin: 0 auto; /* Adjust the margin */
}

footer {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  margin: 100px auto 40px;
  width: 80%;
  color: rgb(0, 0, 0);
  font-weight: 600;
  gap: 30px;
}

#connect,
.social,
#links,
#about-us {
  flex: 1;
  min-width: 300px;
}

#connect {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100%;
  line-height: 2;
}

#connect a {
  display: flex;
  align-items: center;
  justify-content: center;
}

#connect ion-icon {
  font-size: 1.8rem;
  margin-right: 6px;
}

ion-icon:hover {
  transition: 0.4s ease all;
}

ion-icon[name="call"]:hover {
  color: #08f500;
}

ion-icon[name="mail"]:hover {
  color: #bcbcbc;
}

ion-icon[name="navigate-circle"]:hover {
  color: #d1b214;
}

#connect a,
#links a,
#about-us {
  color: black;
}

#connect a:hover,
#links a:hover {
  text-decoration: underline;
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
}

.social ion-icon {
  font-size: 60px;
  padding: 5px;
  border-radius: 30%;
  margin: 0 3px;
  background-color: hsl(216, 3%, 71%);
}

#links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 2;
  color: black;
}

#about-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#about-us p {
  font-size: 16px;
  margin: 0 40px;
}

ion-icon[name="logo-facebook"]:hover {
  color: #1877f2;
  background-color: hsl(216, 3%, 18%);
}

ion-icon[name="logo-tiktok"]:hover {
  color: rgb(255, 255, 255);
  background-color: #000000;
  border-radius: 20px;
}

ion-icon[name="logo-instagram"]:hover {
  color: white;
  background: #f09433;
  background: -moz-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}

@media screen and (max-width: 768px) {
  nav img {
    display: none;
  }

  .my-carousel{
    width: 80%;
    height: 220px;
  }

  #services {
    margin-top: 40px;
  }

  .text-container {
    width: 100%;
    height: 100%;
    background-color: #9c4940;
  }

  .carousel-list-container ul {
    font-size: 16px;
  }

  #why-us {
    display: none;
  }

  .service-section p {
    display: none;
  }

  #gallery-container {
    padding-top: 100px;
    height: 100%;
  }

  .gallery img {
    width: 360px;
    height: 240px;
  }

  .f-container {
    display: none;
  }

  footer {
    background-color: #9c4940;
  }

  #links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  #about-us {
    display: none;
  }
}

/* masonry */

#masonry-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
}

.masonry-service {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 15vw;
  min-width: 220px;
  height: 280px;
  border-radius: 3px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
  border: 2px solid rgb(0, 0, 0, 0.2);
  border-image: fill;
  background-color: white;
  margin: 10px;
}

.masonry-service img {
  width: 160px;
  height: auto;
  object-fit: cover;
  object-position: center;
}

.masonry-service h3 {
  color: black;
  font-size: 1.2em;
  font-weight: 700;
}

.masonry-service p {
  padding: 2px 10px;
  font-size: 16px;
}

#contact-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 80px;
}

#view-gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 80px;
}

#service-detailed {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 0px auto;
}

#service-detailed hr {
  width: 100%;
  border: 1px solid black;
}

#service-detailed img {
  width: 80%;
  height: 400px;
  object-fit: cover;
  object-position: center;
}

#service-detailed > h3 {
  font-size: 1.7em;
  font-weight: 600;
  color: #000000;
}

.full-service-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 76%;
  margin: 20px auto;
  box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.2);
  border: 2px solid rgb(0, 0, 0, 0.2);
  border-image: fill;
  padding: 40px;
}

.carousel-container {
  width: 700px;
  height: 100%;
  margin: 40px auto;
  text-align: center;
  padding: 40px;
}

.carousel-container h3 {
  font-size: 1.3em;
  font-weight: 600;
  margin: 20px 0px;
}

.carousel-container img {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  object-position: center;
}

.carousel-container span {
  font-size: 1em;
  padding: 20px;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  background-color: transparent;
}

@keyframes appear {
  from{
    opacity: 0;
    scale: 0.5;
  }
  to{
    scale: 1;
    opacity: 1;
  }
}

@keyframes slideIn {
  from{
    opacity: 0;
    transform: translateX(-300px);
  }
  to{
    scale: 1;
    transform: translateX(0px);
  }
}

@keyframes fadeIn {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

.fadeIn{
  animation: fadeIn ease-in-out 4s;
}


.block{
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
}

.test{
  animation: slideIn ease-in-out 2s;
  animation-timeline: view();
  animation-range: entry 1% cover 30%;
}