@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';



*,
*::after,
*::before
{
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
}

body
{
  margin: 0px;
  padding: 0px;
}

h1
{
  font-size: 90px;
}

h2
{
  font-size: 60px;
}

h3
{
  font-size: 20px;
  font-weight: bold;
}

p
{
  font-size: 20px;
  z-index: 3;
}

li
{
  list-style: none;
}

a
{
  text-decoration: none;
}

.title-container
{
  position: relative;
  display: flex;
  height: 400px;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: white;
}

.title-container::after {
  content: '';
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 400px;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.header-container
{
  z-index: 200;
  color: white;
}

.services-section-content
{
  width: 60%;
  display: flex;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;

}

.services-section-content img
{
  width: 300px;
  height: auto;
  border: 10px inset white;
}





.learn-more
{
  display: grid;
  z-index: 2;

}

.services-header
{
  display: flex;
  justify-content: center;
  margin: 60px 0px 10px;
}


.services-container
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.service-section
{
  border: 3px solid black;
  border-radius: 20px;
  border-image: fill;
  width: 20%;
  background-color: rgb(214, 206, 195);
}

.service-section img
{
  border-radius: 10px;
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  width: 100%; 
}

.service-section h3
{
  color: black;
  font-size: 1.4em;
  margin: 10px 0px 0px 15px;
  font-weight: 700;
}

.service-section p
{
  padding: 15px;
}

.footer-heading h3
{
  display: none;
  justify-content: center;
  font-size: 30px;
}

.footer
{
  position: absolute;
  display: flex;
  flex-direction: row;
  min-height: 30vh;
  min-width: 100%;
  justify-content: space-between;
  color: black;
  font-weight: 600;
}

.footer a
{
  color: black;
}

.footer h3
{
  text-decoration: underline;
}

.footer-info-connect,
.footer-social,
.footer-info-links,
.footer-info-about-us
{
  flex: 1;
}

.footer-info-connect
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  text-align: center;
  min-height: 100%;
  width: 100%;
  line-height: 2;
}

.footer-social
{
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  font-size: 5rem;

}


.footer-info-links
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 2;
  width: 100%;
  min-height: 100%;
  color: black;
}

.footer-info-about-us
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  
}

.footer-info-about-us p
{
  font-size: 16px;
}