<!-- Ex. /about_us -->
{% extends 'base.jinja' %}

{% block canonical_url %}/about_us{% endblock canonical_url %}

{% block content %}
    <section id="about-us" class="py-5">
        <div class="container d-flex flex-column">
            <!-- About Us Section -->
            <h2 class="mb-5 text-center">
                About Us: Discover Our Story and Commitment
            </h2>

            <!-- Who We Are Section -->
            <div class="row align-items-center justify-content-between mb-5">
                <div class="col-md-6 mb-4 mb-md-0">
                    <h3 class="mb-4">Who We Are</h3>
                    <p>
                        We have been proudly serving Long Island since 1988. As
                        a family-owned business, personal involvement is at the
                        heart of everything we do. Led by our founder, James
                        Moore, and his eldest son, Nick, we ensure every project
                        receives the care and attention it deserves. Based in
                        Levittown, New York, we serve countless towns across
                        Long Island with top-notch general contracting services.
                    </p>
                </div>
                <div class="col-md-5 text-center">
                    <img
                        src="/static/images-webp/about_us/nick-jim.webp"
                        alt="Family-Owned Business"
                        class="img-fluid rounded shadow-sm"
                        style="max-width: 65%; height: auto;"
                    />
                </div>
            </div>

            <hr class="my-5" />

            <!-- Our Specializations Section -->
            <div class="row align-items-center justify-content-between mb-5">
                <div class="col-md-6 order-md-2 mb-4 mb-md-0">
                    <h3 class="mb-4">Our Specializations</h3>
                    <p>We specialize in:</p>
                    <ul>
                        <li>Home Improvement</li>
                        <li>Asphalt</li>
                        <li>Masonry</li>
                        <li>Paver Sealing</li>
                        <li>Concrete</li>
                        <li>Pressure Washing</li>
                    </ul>
                    <p>
                        With decades of experience, we are dedicated to
                        delivering the highest quality workmanship to our
                        clients. Rest assured, we are fully licensed and insured
                        to provide you with peace of mind.
                    </p>
                </div>
                <div class="col-md-5 order-md-1 text-center">
                    <img
                        src="/static/images-webp/about_us/jimmy.webp"
                        alt="Specialized Services"
                        class="img-fluid rounded shadow-sm"
                        style="max-width: 80%; height: auto;"
                    />
                </div>
            </div>

            <hr class="my-5" />

            <!-- Our Commitment Section -->
            <div class="row align-items-center justify-content-between">
                <div class="col-md-6 mb-4 mb-md-0">
                    <h3 class="mb-4">Our Commitment</h3>
                    <p>
                        As proud members of the Long Island community, we value
                        the trust you place in us. We understand that
                        undertaking a project can feel overwhelming, but we are
                        here to help every step of the way. Our team is
                        committed to ensuring your project is completed on time
                        and within budget, while delivering excellent customer
                        service.
                    </p>
                    <p>
                        We look forward to working with you to bring your vision
                        to life!
                    </p>
                </div>
                <div class="col-md-5 text-center">
                    <img
                        src="/static/images-webp/about_us/young_nick.webp"
                        alt="Customer Commitment"
                        class="img-fluid rounded shadow-sm"
                        style="max-width: 90%; height: auto;"
                    />
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
