/* Global Styles */
*,
*::after,
*::before {
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(0deg, rgba(0, 0, 0, .8), rgba(0, 0, 0, 0.4)),
    url(driveway.jpg) no-repeat fixed center;
  color: rgb(219, 219, 219);
}

/* Typography */
h1,
h2,
h3,
h5 {
  color: rgb(222, 222, 222);
}

h1 {
  font-size: 52px;
  font-weight: 800;
}

h2 {
  font-size: 32px;
  font-weight: 600;
  z-index: 4;
}

h3 {
  font-size: 20px;
  font-weight: bold;
}

p {
  font-size: 20px;
  z-index: 3;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: rgb(219, 219, 219);
}

.nav-link {
  color: rgb(220, 220, 220);
}

.nav-link:hover {
  color: rgb(57, 158, 247);
}

.nav-link:active {
  color: rgb(57, 158, 247);
}

.contact-today {
  color: black;
}

/* Utility Classes */
.active {
  font-weight: bold;
  color: orange !important;
}

.hidden {
  display: none;
}

/* Navigation */
nav .navbar-toggler {
  background-color: #d1d1d1;
}

nav .contact-today {
  border: 1px solid black;
  border-radius: 5px;
  font-weight: 600;
  background-color: hsl(120, 64%, 56%);
}

nav .contact-today:hover {
  background-color: hsl(120, 64%, 70%);
}

nav .dropdown-item:hover {
  background-color: #c8c8c8;
}

#contact-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 80px;
}

#footer-border h3 {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  font-size: 24px;
  margin-top: 40px;
}

#footer-border h3::before,
#footer-border h3::after {
  content: " ";
  display: flex;
  height: 2px;
  background-color: black;
  width: 30%;
  margin: 0 auto;
}

/* Footer */
footer {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  margin: 20px auto 40px;
  width: 80%;
  font-weight: 600;
  gap: 30px;
}

#connect,
.social,
#links,
#about-us {
  flex: 1;
  min-width: 300px;
}

/* Connect Section */
#connect {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100%;
  line-height: 2;
}

#connect a {
  display: flex;
  align-items: center;
  justify-content: center;
}

#connect ion-icon {
  font-size: 1.8rem;
  margin-right: 6px;
}

#connect a:hover,
#links a:hover {
  text-decoration: underline;
}

/* Social Section */
.social {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
}

.social ion-icon {
  font-size: 60px;
  padding: 5px;
  border-radius: 30%;
  margin: 0 3px;
  background-color: hsl(0, 0%, 36%);
}

ion-icon:hover {
  transition: 0.4s ease all;
}

/* Links Section */
#links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 2;
  color: black;
}

/* About Us Section */
#about-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#about-us p {
  font-size: 16px;
  margin: 0 40px;
}

/* Social Media Icon Hover Effects */
ion-icon[name="logo-facebook"]:hover {
  color: #1877f2;
  background-color: hsl(216, 3%, 18%);
}

ion-icon[name="logo-tiktok"]:hover {
  color: rgb(255, 255, 255);
  background-color: #000000;
  border-radius: 20px;
}

ion-icon[name="logo-instagram"]:hover {
  color: white;
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
}

/* index.html */
#landing-page {
  position: relative;
  visibility: hidden;
  opacity: 0;
}

#landing-page ion-icon {
  font-size: 1.5rem;
  color: #13df00;
}

.height-calc {
  height: calc(100dvh - 88px);
}

.my-carousel {
  width: 70%;
  position: relative;
  height: 40vh;
  overflow: hidden;
  border: 2px solid transparent; /* Transparent border for gradient effect */
  border-image: linear-gradient(45deg, rgb(0, 0, 0), #e6e6e6) 1; /* Gradient border */
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);
}

.my-carousel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.my-slide {
  width: 100%;
  opacity: 0;
  transition: opacity 2s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
}

.my-slide.my-active {
  opacity: 1;
}

#landing-page ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 20px;
  width: 80%;
  padding: 20px;
}

#landing-page ul li {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

ul ion-icon {
  font-size: 1.5rem;
  color: hsl(0, 0%, 23%);
  margin: 0 5px;
  border-radius: 50%;
}

#why-us {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.why-us-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 60px;
  width: 60vw;
  margin: 40px auto;
  height: 100%;
  border-radius: 12px;
  border: 2px double rgb(0, 0, 0);
  box-shadow: 10px 0 20px 0 rgba(0, 0, 0, 0.4);
  color: rgb(255, 255, 255);
}

.why-logo {
  width: 18%;
  z-index: 20;
}

.why-us-img {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  z-index: 1;
  border-radius: 10px;
  opacity: 0;
  transition: opacity 2s ease-in-out;
}

.why-us-container img.active {
  opacity: 1;
}

#why-us h2 {
  font-size: 4vw;
  z-index: 3;
  font-weight: 600;
  color: white;
}

#why-us p {
  width: 70%;
  font-size: 1.3rem;
}

#why-us a {
  z-index: 4;
  position: relative;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#why-us ion-icon {
  font-size: 1.5rem;
  color: white;
  padding-left: 5px;
}

.why-us-container::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2;
}

ul.dropdown-menu {
  background-color: hsla(0, 0%, 100%, 0.7);
}

.container-fluid {
  z-index: 4;
}

#contact-us,
#contact-us h3,
#contact-us a {
  z-index: 4;
}

#view-gallery {
  padding: 20px;
}

#view-gallery a {
  z-index: 4;
  color: rgb(235, 184, 45);
}

.row {
  z-index: 4;
}

.col-md-6 {
  z-index: 4;
}

.container-fluid.services {
  width: 100%;
}

#services .card {
  border-radius: 5px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  border: 1px solid rgb(0, 0, 0, 1);
  height: fit-content;
  background-color: white;
}

#services .card {
  background-image: linear-gradient(
    0deg,
    rgba(233, 187, 166, 0.856),
    rgba(198, 198, 198, 0.95)
  );
}

#services hr {
  width: 100%;
  border: 1px solid rgb(44, 44, 44);
  opacity: 0.2;
  margin: 10px 0px;
}

#services img {
  width: 100%;
  height: 280px;
  object-fit: cover;
}

#services a {
  color: black;
}

#services p {
  font-size: 16px;
}

#services li {
  list-style: inside;
  list-style-type: square;
}

.card-img-top {
  transition: filter 0.3s ease;
}

.card a:hover .card-img-top {
  filter: brightness(50%);
}

#gallery-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.gallery h2 {
  font-size: 2em;
  font-weight: 600;
  color: #000000;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.gallery img {
  width: 28%;
  height: 320px;
  object-fit: cover;
  object-position: center;
}

#entire-gallery img {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

#entire-gallery img.fade-in {
  opacity: 1;
  transform: translateY(0);
}

#gallery-container img {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

#gallery-container img.fade-in {
  opacity: 1;
  transform: translateY(0);
}

#services img.card-img-top {
  height: 200px;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

/* masonry.html */
#service-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.service-card {
  border-radius: 3px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
  border: 2px solid rgb(0, 0, 0, 0.6);
  background-color: rgb(255, 255, 255);
  padding: 20px;
  color: black;
  height: fit-content;
  text-align: center;
  height: 270px;
}

.service-card h5 {
  color: black;
  font-weight: 600;
}

.service-card img {
  width: 100px;
  height: auto;
  object-fit: cover;
  object-position: center;
}

.service-card.concrete {
  height: 340px;
}

#view-gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}

#view-home {
  color: #255878;
  text-decoration: underline;
}

#service-detailed {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0px 20px 20px 20px;
  gap: 32px;
}

#info {
  margin-bottom: 0px;
}

#service-detailed hr {
  width: 95%;
  border: 1px solid black;
  margin: 50px auto;
}

#service-detailed img {
  box-shadow: 10px 10px 10px rgba(105, 105, 105, 0.1);
  height: 340px;
  object-fit: cover;
}

#service-detailed > h3 {
  font-size: 1.7em;
  font-weight: 600;
  color: #000000;
}

.full-service-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: hsl(0, 0%, 95%);
  width: 800px;
  height: 800px;
  gap: 20px;
  border: 1px solid #343434;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 20px;
}

/* Animation */

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  animation: fadeIn ease-in-out 4s;
}

/* Contact Page */
.input-container {
  width: 90%;
  height: 100%;
  margin: 20px auto;
  padding: 20px;
  border: 2px solid #535353;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  background-image: linear-gradient(
    90deg,
    rgba(255, 246, 248, 0.7),
    rgb(199, 216, 255, 0.9)
  );
}

.input-container header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0px;
}

.input-container img {
  width: 14%;
  margin: 0px auto;
  height: auto;
}

.form-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 70%;
  height: 100%;
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 100%;
  height: 100%;
}

#form-success-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 40px;
  gap: 5px;
  width: 70%;
  height: 100%;
  display: none;
  margin: 0 auto;
}

.form-success {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 5px;
  width: 70%;
  height: 120px;
  margin: 0 auto;
  background-color: hsl(120, 64%, 56%);
  border: 2px solid black;
}

.input-container h2 {
  text-align: center;
  font-size: 24px;
  margin: 0px;
  color: #000000;
}

p {
  font-size: 18px;
}

.input-group {
  width: 36%;
  margin: 0px 10px;
  padding: 10px;
}

.input-group label {
  padding: 4px;
}

.input-group input,
.input-group textarea {
  width: 100%;
  padding: 8px;
  margin: 4px 0;
  border: 1px solid #2a2a2a;
  border-radius: 4px;
}

.input-group:nth-last-of-type(1) {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.input-group:nth-last-of-type(1) textarea {
  width: 70%;
  height: 120px;
  padding: 8px;
  border-radius: 4px;
  resize: none;
}

button[type="submit"] {
  width: 100px;
  margin: 0px 0px 10px;
}

.input-container label,
.input-container p,
.input-container h3,
.input-container ion-icon {
  color: black;
}

.contact-cards {
  height: 100%;
  width: 30%;
  margin: auto 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.contact-cards h3 {
  font-size: 1.6rem;
}

.contact-cards ion-icon {
  font-size: 40px;
  margin: 0 8px;
  background-color: #20a9ff;
  padding: 20px;
  border-radius: 20px;
}

.business-socials ion-icon {
  font-size: 40px;
  padding: 4px;
}

.questions-regarding-website {
  padding-top: 10px;
  color: #000000;
}

.questions-regarding-website p {
  font-size: 0.9em;
}

.questions-regarding-website a {
  color: #20a9ff;
}

.mobile-gallery {
  display: none;
}

/* About Us */
.about-us .text-container {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.about-section {
  width: 100%;
  text-align: left;
}

.about-section h2 {
  font-size: 2.5em;
  font-weight: 600;
  color: #000000;
}

.about-us img {
  margin: 10px;
  border-radius: 15px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}

.card-title {
  font-size: 1.3em;
  font-weight: 600;
  color: #303030;
}

#service-detailed hr {
  width: 90%;
  border: 1px solid black;
  margin: 0px 0px 10px;
  opacity: 0.2;
}

.card-img-top.custom- {
  height: 180px;
  object-fit: cover;
}

.card-body.custom {
  gap: 10px;
  padding: 20px;
  height: fit-content;
  width: 100%;
}

.card.custom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 600px;
  border-radius: 5px;
}

.card {
  padding-left: 0px;
  padding-right: 0px;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
  nav img {
    display: none;
  }

  .container-fluid,
  .row,
  .col-md-12 {
    z-index: 4;
  }

  #services h2 {
    z-index: 4;
  }

  #view-gallery .btn {
    color: #ffffff;
  }

  #landing-page ul li {
    font-size: 15px;
  }

  .contact-today {
    width: 40%;
    text-align: center;
  }
  .service-card h5 {
    font-size: 0.8em;
  }

  .service-card {
    height: 180px;
  }

  .service-card.concrete {
    height: 180px;
  }

  .service-card p {
    display: none;
  }

  .height-calc {
    height: 100%;
  }

  .my-carousel {
    width: 90%;
    height: 220px;
  }

  #services {
    margin-top: 40px;
  }

  #services img.card-img-top {
    height: auto;
    width: 100%;
    object-fit: contain;
    object-position: center;
  }

  .text-container {
    width: 100%;
    height: 100%;
  }

  .carousel-list-container ul {
    font-size: 16px;
  }

  #why-us {
    height: 100%;
    margin: 0;
    width: 100%;
  }

  #why-us .why-logo {
    width: 30%;
  }

  #why-us h2 {
    font-size: 2em;
  }

  .why-us-container {
    width: 100%;
    height: 80dvh;
    margin: 0 auto;
    padding: 10px;
    border: 0px;
    box-shadow: none;
  }

  #why-us p {
    width: 90%;
    margin: 0px 0px 20px;
    padding: 10px;
    font-size: 16px;
  }

  #why-us a {
    width: 80%;
    padding: 10px;
    margin: 0px 0px 20px;
    font-size: 14px;
  }

  #contact-us.home {
    display: none;
  }

  #why-us {
    margin: 40px auto;
    width: 95%;
  }

  #contact-us {
    margin: 40px 0px;
    padding: 30px;
  }

  #gallery-container {
    padding-top: 20px;
    height: 100%;
  }

  #gallery-container h2 {
    font-size: 2em;
    font-weight: 600;
    color: #000000;
  }

  .gallery img {
    width: 360px;
    height: 240px;
  }

  #footer-border {
    display: none;
  }

  #links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  #about-us {
    display: none;
  }

  .input-container,
  .form-container,
  header,
  form {
    z-index: 4;
  }

  #gallery-container,
  #gallery-container h2 {
    z-index: 4;
  }

  .gallery {
    z-index: 4;
  }

  #links a {
    z-index: 4;
  }

  #connect a {
    z-index: 4;
  }

  #landing-page h1,
  #landing-page h2 {
    display: none;
  }

  #connect a {
    color: rgb(225, 225, 225);
  }

  .why-us-container {
    height: 100%;
  }

  nav a.nav-link {
    color: white;
  }

  #navbarDropdown {
    color: #e3e3e3;
  }

  #gallery-container h2 {
    color: white;
  }

  #view-gallery h3 {
    z-index: 4;
  }

  a.nav-link.contact-today {
    color: #000000;
  }

  #links a {
    color: rgb(218, 218, 218);
  }

  .card-text {
    color: rgba(0, 0, 0, 1);
  }

  .input-container {
    width: 90%;
  }

  .mobile-gallery {
    display: contents;
    font-style: italic;
    font-size: 16px;
    color: #aeaeae;
  }

  #view-gallery {
    margin: 30px 0px;
  }

  #view-gallery p {
    font-size: 16px;
  }

  .container-fluid h2 {
    font-size: 24px;
  }

  .full-service-info {
    width: 95%;
  }

  #service-detailed img {
    height: 260px;
    width: 100%;
  }

  .input-container img {
    width: 30%;
  }

  .input-container h2 {
    font-size: 20px;
  }

  .gallery-h2 {
    font-size: 24px;
  }

  .form-container {
    width: 100%;
  }

  #form-success-container {
    width: 100%;
  }

  .form-success {
    width: 100%;
  }

  .form-success h3 {
    font-size: 18px;
  }

  .input-container hr {
    width: 100%;
    border: 1px solid black;
    opacity: 0.6;
  }

  .input-container {
    width: 95%;
    margin: 0px auto;
  }

  .input-group {
    width: 90%;
  }

  form {
    gap: 0px;
  }

  button[type="submit"] {
    width: 40%;
  }

  .input-group:nth-last-of-type(1) {
    width: 100%;
  }

  .input-group:nth-last-of-type(1) textarea {
    width: 100%;
  }

  .contact-cards {
    width: 100%;
    margin: 30px;
  }

  .about-images {
    width: 70%;
    margin: auto;
  }

  h1 {
    margin-bottom: 2px;
  }

  #landing-page h1 {
    font-size: 1.3em;
  }

  #landing-page h2 {
    font-size: 0.9em;
  }

  .about-section h2 {
    font-size: 2em;
  }

  .card.custom {
    height: 100%;
  }

  .card-body.custom {
    height: fit-content;
  }

}
