.nav-link,
body {
  color: #e5e5e5;
}

.nav-link.dropdown-toggle.show:focus{
  color: rgb(88, 133, 255);
}

.nav-link.dropdown-toggle.show:active{
  color: rgb(92, 128, 227);
}
.my-slide,
.why-us-img {
  transition: opacity 2s ease-in-out;
  opacity: 0;
}
#services img.card-img-top,
.gallery img,
.my-carousel img,
.service-card img {
  object-position: center;
  object-fit: cover;
}
#connect a:hover,
#links a:hover,
#view-home {
  text-decoration: underline;
}
*,
::after,
::before {
  font-family: Lato, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6))
      center/cover fixed,
    url(driveway.jpg) center/cover fixed;
}
h1 {
  font-size: 52px;
  font-weight: 800;
}
h2 {
  font-size: 32px;
  font-weight: 600;
  z-index: 4;
}
.active,
h3 {
  font-weight: 700;
}
#page-headers {
  font-size: 28px;
  font-weight: 800;
}
h3 {
  font-size: 20px;
}
p {
  z-index: 3;
  font-size: 18px;
}
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #e4e4e4;
}
#links,
#services a,
.contact-today,
.input-container h3,
.input-container ion-icon,
.input-container label,
.input-container p {
  color: #000;
}
.nav-link:active,
.nav-link:hover {
  color: #399ef7;
}
.active {
  color: orange !important;
}
#why-us h2,
.about-section h2,
.card-title,
.gallery h2,
.service-card h5,
footer,
nav .contact-today {
  font-weight: 600;
}
.hidden,
.mobile-gallery {
  display: none;
}
nav .navbar-toggler {
  background-color: #d1d1d1;
}
nav .contact-today {
  border: 1px solid #000;
  border-radius: 5px;
  background-color: #46d646;
}
nav .contact-today:hover {
  background-color: #81e381;
}
nav .dropdown-item:hover {
  background-color: #e3e3e3;
}
#contact-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 80px;
}
#footer-border h3 {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  font-size: 24px;
  margin-top: 40px;
}
#footer-border h3::after,
#footer-border h3::before {
  content: " ";
  display: flex;
  height: 2px;
  background-color: #fff;
  width: 30%;
  margin: 0 auto;
}
footer {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  margin: 20px auto 40px;
  width: 80%;
  gap: 30px;
}
#about-us,
#connect,
#links,
.social {
  flex: 1;
  min-width: 300px;
}
#connect,
#links {
  display: flex;
  flex-direction: column;
  line-height: 2;
}
#connect {
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100%;
}
#connect a {
  display: flex;
  align-items: center;
  justify-content: center;
}
#connect ion-icon {
  font-size: 1.8rem;
  margin-right: 6px;
}
.social {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
}
.social ion-icon {
  font-size: 60px;
  padding: 5px;
  border-radius: 30%;
  margin: 0 3px;
  background-color: #5b5b5b;
}
ion-icon:hover {
  transition: 0.4s;
}
#links {
  justify-content: center;
  align-items: center;
}
#about-us,
#why-us {
  flex-direction: column;
  display: flex;
}
#about-us {
  justify-content: center;
  align-items: center;
}
#about-us p {
  font-size: 16px;
  margin: 0 40px;
}
ion-icon[name="logo-facebook"]:hover {
  color: #1877f2;
  background-color: #2c2d2f;
}
ion-icon[name="logo-tiktok"]:hover {
  color: #fff;
  background-color: #000;
  border-radius: 20px;
}
ion-icon[name="logo-instagram"]:hover {
  color: #fff;
  background: linear-gradient(
    45deg,
    #f09433 0,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
}
#landing-page {
  position: relative;
  opacity: 0;
  transition: opacity 2s ease-in-out;
}

.visible {
  opacity: 1 !important;
}

#landing-page ion-icon {
  font-size: 1.5rem;
  color: #13df00;
}
.height-calc {
  height: calc(100dvh - 88px);
}
.my-carousel {
  width: 70%;
  position: relative;
  height: 40vh;
  overflow: hidden;
  border: 2px solid transparent;
  border-image: linear-gradient(45deg, rgb(0, 0, 0), #e6e6e6) 1;
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);
}
.my-carousel img {
  width: 100%;
  height: 100%;
}
.my-slide {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.my-slide.my-active,
.why-us-container img.active {
  opacity: 1;
}
#landing-page ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 20px;
  width: 80%;
  padding: 20px;
}
#landing-page ul li {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
ul ion-icon {
  font-size: 1.5rem;
  color: #3a3a3a;
  margin: 0 5px;
  border-radius: 50%;
}
#why-us {
  width: 100%;
  height: fit-content;
  justify-content: center;
}
.why-us-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 60px;
  width: 60vw;
  margin: 40px auto;
  gap: 5px;
  height: 100%;
  border-radius: 12px;
  border: 2px double #000;
  box-shadow: 10px 0 20px 0 rgba(0, 0, 0, 0.4);
  color: #fff;
}
.why-us-container::after,
.why-us-img {
  position: absolute;
  border-radius: 10px;
  height: 100%;
}
.why-logo {
  width: 18%;
  z-index: 20;
}
.why-us-img {
  width: 100%;
  object-fit: cover;
  z-index: 1;
}
#contact-us,
#contact-us a,
#contact-us h3,
#why-us a,
.col-md-6,
.container-fluid,
.row {
  z-index: 4;
}
#why-us h2 {
  font-size: 40px;
  z-index: 3;
  color: #fff;
}
#why-us p {
  width: 80%;
  font-size: 1.1rem;
}
#why-us a {
  position: relative;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#gallery-container,
.service-card {
  flex-direction: column;
  display: flex;
}
#why-us ion-icon {
  font-size: 1.5rem;
  color: #fff;
  padding-left: 5px;
}
.why-us-container::after {
  content: "";
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2;
}
#services .card {
  min-width: 280px;
  border-radius: 5px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  border: 1px solid #000;
  height: fit-content;
  background-color: #ffffff;
}
ul.dropdown-menu {
  background-color: hsla(0, 0%, 100%, 0.7);
}
#view-gallery a {
  z-index: 4;
  color: #ebb82d;
}
.container-fluid.services {
  width: 100%;
}
#services hr {
  width: 100%;
  border: 1px solid #000;
  opacity: 0.6;
  margin: 10px 0;
}
#services img {
  width: 100%;
  height: 280px;
  object-fit: cover;
}
#services p {
  font-size: 16px;
}
#services li {
  list-style: square inside;
}
.card-img-top {
  transition: filter 0.3s;
}
.card a:hover .card-img-top {
  filter: brightness(50%);
}
#gallery-container {
  height: 100%;
  align-items: center;
  justify-content: space-evenly;
}
.gallery h2 {
  font-size: 2em;
  color: #000;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}
.gallery img {
  width: 28%;
  height: 320px;
}
#entire-gallery img,
#gallery-container img {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}
#entire-gallery img.fade-in,
#gallery-container img.fade-in {
  opacity: 1;
  transform: translateY(0);
}
#services img.card-img-top {
  height: 200px;
  width: 100%;
}
#service-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.service-card {
  border-radius: 3px;
  justify-content: center;
  align-items: center;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
  border: 2px solid;
  background-color: #fff;
  padding: 20px;
  color: #000;
  min-height: fit-content;
  text-align: center;
  height: 280px;
  overflow: hidden;
}
.about-us img,
.full-service-info {
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}
.service-card h5 {
  color: #000;
}
.service-card img {
  width: 100px;
  height: auto;
}
#view-gallery {
  padding: 0 30px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 60px 0px;
}
#view-home {
  color: #255878;
}
#service-detailed {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0 20px 20px;
  gap: 32px;
}
#info {
  margin-bottom: 0;
}
#service-detailed img {
  box-shadow: 10px 10px 10px rgba(105, 105, 105, 0.1);
  height: 340px;
  object-fit: cover;
}
#service-detailed > h3 {
  font-size: 1.7em;
  font-weight: 600;
  color: #000;
}
.full-service-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #f2f2f2;
  width: 800px;
  height: 800px;
  gap: 20px;
  border: 1px solid #343434;
  border-radius: 20px;
  padding: 20px;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fadeIn {
  animation: 4s ease-in-out fadeIn;
}
.input-container {
  width: 90%;
  height: 100%;
  margin: 20px auto;
  padding: 20px;
  border: 2px solid #535353;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  background-image: linear-gradient(
    90deg,
    rgba(255, 246, 248, 0.7),
    rgb(199, 216, 255, 0.9)
  );
}
.input-container header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0;
}
.input-container img {
  width: 80px;
  margin: 0 auto;
  height: auto;
}
.form-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 70%;
  height: 100%;
}
form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 100%;
  height: 100%;
}
#form-success-container {
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 0 auto;
  gap: 5px;
  width: 70%;
  height: 100%;
  display: none;
}
.form-success {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 5px;
  width: 70%;
  height: 120px;
  margin: 0 auto;
  background-color: #46d646;
  border: 2px solid #000;
}
.input-container h2 {
  text-align: center;
  font-size: 24px;
  margin: 0;
  color: #000;
}
.input-group {
  width: 36%;
  margin: 0 10px;
  padding: 10px;
}
.input-group label {
  padding: 4px;
}
.input-group input,
.input-group textarea {
  width: 100%;
  padding: 8px;
  margin: 4px 0;
  border: 1px solid #2a2a2a;
  border-radius: 4px;
}
.input-group:last-of-type {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.input-group:last-of-type textarea {
  width: 70%;
  height: 120px;
  padding: 8px;
  border-radius: 4px;
  resize: none;
}
button[type="submit"] {
  width: 100px;
  margin: 0 0 10px;
}
.contact-cards {
  height: 100%;
  width: 30%;
  margin: auto 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}
.contact-cards h3 {
  font-size: 1.6rem;
}
.contact-cards ion-icon {
  font-size: 30px;
  margin: 0 8px;
  background-color: #20a9ff;
  padding: 20px;
  border-radius: 20px;
}
.business-socials ion-icon {
  font-size: 40px;
  padding: 4px;
}
.questions-regarding-website {
  padding-top: 10px;
  color: #000;
}
.questions-regarding-website p {
  font-size: 0.9em;
}
.questions-regarding-website a {
  color: #20a9ff;
}
.about-us .text-container {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
#view-gallery .btn {
  color: #fff;
}
.about-section {
  width: 100%;
  text-align: left;
}
.about-section h2 {
  font-size: 2.5em;
}
.about-us img {
  margin: 10px;
  border-radius: 15px;
}
.card-title {
  font-size: 1.3em;
  color: #303030;
}
#service-detailed hr {
  width: 90%;
  border: 1px solid #000;
  margin: 0 0 10px;
  opacity: 0.2;
}
.card-img-top.custom- {
  height: 180px;
  object-fit: cover;
}
.card-body.custom {
  gap: 10px;
  padding: 20px;
  height: fit-content;
  width: 100%;
}
.card.custom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 600px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.83);
}
.card {
  padding-left: 0;
  padding-right: 0;
}


@media screen and (min-width:768px) and (max-width: 1600px) {
  #about-us {
    display: none;
  }
  .row.height-calc {
    height: 100%;
  }
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 24px;
  }

  .why-us-container {
    width: 80%;
    height: 100%;
  }

  .service-card p{
    display: none
  }

  .service-card h5 {
    font-size: 1em;
  }

  .service-card{
    height: 200px;
    width: 200px;
  }

  #info-pg {
    width: 80%;
  }

  #page-headers {
    font-size: 24px;
  }

  #service-detailed img {
    height: 200px;
  }

  .card.custom {
    height: 500px;
  }

  p{
    font-size: 16px;
  }

  #landing-page ul{
    font-size: 16px;
  }

  .serv-card {
    flex: 0 0 auto;
    width: 31%;
}

.input-group{
  width:40%;
}

.input-container h3{
  font-size: 18px;
 }

.questions-regarding-website p{
  font-size: .7em;
}
}

@media screen and (max-width: 768px) {
  #why-us a,
  #why-us p {
    margin: 0 0 20px;
    padding: 10px;
  }
  body {
    background: linear-gradient(0deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.8))
        top,
      url(driveway-2.jpg) top;
    color: #dbdbdb;
  }
  #about-us,
  #contact-us.home,
  #footer-border,
  #landing-page h1,
  #landing-page h2,
  .service-card p,
  nav img {
    display: none;
  }
  #page-headers {
    font-size: 1.2em;
  }
  #connect a,
  #gallery-container,
  #gallery-container h2,
  #links a,
  #services h2,
  #view-gallery h3,
  .col-md-12,
  .container-fluid,
  .form-container,
  .gallery,
  .input-container,
  .row,
  form,
  header {
    z-index: 4;
  }
  #landing-page ul li {
    font-size: 15px;
  }
  .contact-today {
    width: 40%;
    text-align: center;
  }
  .service-card h5 {
    font-size: 0.8em;
  }
  .service-card {
    height: 180px;
    padding: 5px;
  }
  .card.custom,
  .height-calc {
    height: 100%;
  }
  .my-carousel {
    width: 90%;
    height: 220px;
  }
  #services {
    margin-top: 40px;
  }
  #services img.card-img-top {
    height: auto;
    width: 100%;
    object-fit: contain;
    object-position: center;
  }
  .text-container {
    width: 100%;
    height: 100%;
  }
  #view-gallery p,
  .carousel-list-container ul {
    font-size: 16px;
  }
  #why-us {
    height: 100%;
    margin: 40px auto;
    width: 95%;
  }
  #why-us .why-logo {
    width: 30%;
  }
  #why-us h2,
  .about-section h2 {
    font-size: 2em;
  }
  .why-us-container {
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    border: 0;
    box-shadow: none;
    height: 100%;
  }
  #why-us p {
    width: 90%;
    font-size: 16px;
  }
  #why-us a {
    width: 80%;
    font-size: 14px;
  }
  #contact-us {
    margin: 40px 0;
    padding: 30px;
  }
  #gallery-container {
    padding-top: 20px;
    height: 100%;
  }
  #gallery-container h2 {
    font-size: 2em;
    font-weight: 600;
    color: #fff;
  }
  .gallery img {
    width: 360px;
    height: 240px;
  }
  #links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  #connect a {
    color: #e1e1e1;
  }
  nav a.nav-link {
    color: #fff;
  }
  #navbarDropdown {
    color: #e3e3e3;
  }
  .card-text,
  a.nav-link.contact-today {
    color: #000;
  }
  #links a {
    color: #dadada;
  }
  .mobile-gallery {
    display: contents;
    font-style: italic;
    font-size: 16px;
    color: #aeaeae;
  }
  .container-fluid h2,
  .gallery-h2 {
    font-size: 24px;
  }
  .full-service-info {
    width: 95%;
  }
  #service-detailed img {
    height: 260px;
    width: 100%;
  }
  .input-container img {
    width: 24%;
  }
  .form-success h3,
  .input-container h2 {
    font-size: 18px;
  }
  #form-success-container,
  .form-container,
  .form-success,
  .input-group:last-of-type,
  .input-group:last-of-type textarea {
    width: 100%;
  }
  .input-container hr {
    width: 100%;
    border: 1px solid #000;
    opacity: 0.6;
  }
  .input-container {
    width: 95%;
    margin: 0 auto;
  }
  .input-group {
    width: 90%;
  }
  form {
    gap: 0;
  }
  button[type="submit"] {
    width: 40%;
  }
  .contact-cards {
    width: 100%;
    margin: 30px;
  }
  .about-images {
    width: 70%;
    margin: auto;
  }
  h1 {
    margin-bottom: 2px;
  }
  #landing-page h1 {
    font-size: 1.3em;
  }
  #landing-page h2 {
    font-size: 0.9em;
  }
  .card-body.custom {
    height: fit-content;
  }
} 